	<table class="table table-bordered" id="post{$post.id}">
		<tr>
			<td class="right" id="{$post.id}">
				<div style="float:left">
					{$post.userlink} - <small>deleted</small>
				</div>
					{if $post.links.undelete}{$post.links.undelete}{/if}
					{if $post.links.view}{$post.links.view}{/if}
					#{$post.id}
					{if $post.ip}{$post.ip}{/if}
			</td>
		</tr>
	</table>
