	{if count($ranksets) > 1}
		<table class="table table-bordered table-condensed">
			<thead><tr><th>Ranksets</th></tr></thead>
			<tbody>
				{foreach $ranksets as $rset}<tr><td class="center">{$rset}</td></tr>{/foreach}
			</tbody>
		</table>
	{/if}
