	<img src="gfx/rpgstatus.php?u={$loguserid}">
	<br><br>
	{foreach $shoplists as $shoplist}
		<table class="table table-striped table-bordered table-condensed">
			<thead><tr><th>{$shoplist.link}</th></tr></thead>
			<tbody><tr><td>{$shoplist.description}</td></tr></tbody>
			<tfoot><tr><td><small>Currently Equiped: {$shoplist.curent}</small></td></tr></tfoot>
		</table>
	{/foreach}