	<img src="gfx/rpgstatus.php?u={$loguserid}"><br>
	<br>
	<table class="table table-bordered table-striped" style="width:300px;">
		<thead><tr><th colspan="9">{$name}</th></tr></thead>
		<tbody>
			<tr>{$stathdr}</tr>
			<tr>{$statlist}</tr>
			<tr><td colspan="9">{$desc}</td></tr>
		</tbody>
	</table>