	<table class="table table-bordered table-striped">
		<tr class="header1">
			<th colspan=2>Report post</th>
		</tr>
		<tr class="cell0">
			<td class="cell2 center" style="width:20%;">
				Message
			</td>
			<td>
				{$fields.message}
			</td>
		</tr>
		<tr class="cell2">
			<td></td>
			<td>
				{$fields.btnSubmit}
			</td>
		</tr>
	</table>
