
	<table class="outline margin form form_welcome" style="width:100%">
		<tr class="header1">
			<th>{$header}</th>
		</tr>
		<tr class="cell0">
			<td class="cell2 center">
				{$text}
			</td>
	</table>
