	<table class="table table-bordered table-striped">
		<tr class="header1">
			<th style="width: 100px;">Time</th>
			<th style="width: 50px;">Posts</th>
			<th></th>
		</tr>
		{foreach $rows as $row}
			<tr>
				<td class="cell2 center">{$row.time}</td>
				<td class="cell2 center">{$row.posts}</td>
				<td class="cell1" width=*>{$row.bar}</td>
			</tr>
		{/foreach}
	</table>