	{if count($ranksets) > 1}
		<table class="table table-bordered table-condensed">
			<thead><tr><th>Ranksets</th></tr></thead>
			<tbody><tr><td>
				<div class="row center">
					{foreach $ranksets as $rset}
						<div class="col-sm-2">{$rset}</div>
					{/foreach}
				</div>
			</td></tr></tbody>
		</table>
	{/if}