	<table class="table table-striped table-bordered">
		<thead><tr><th>Wiki {if $istalk}Discussion{else}Page{/if} -- {$wikipagetitle}</th></tr></thead>
		<tbody><tr><td>{$wikicontents}</td></tr></tbody>
	</table>